# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
dist/
build/

# Jest
coverage/
jest-cache/
jest-output/

# Logs
logs/
*.log
yarn.lock
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment Variables
.env
.env.test
.env.local
.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Linux
*.swp

# Miscellaneous
!.eslintrc.js
!.prettierrc.js
